{{#if unknownGuests}}
  {{rsvp/unknown-guest-form guest=firstUnknownGuest}}
{{else}}
<form {{action 'submitForm' on="submit"}}>
  {{#each allValidGuests as |guest|}}
    <div class="rsvp__individual-rsvp mb-5">
      <h4 class="text-center">RSVP for {{guest.displayName}}</h4>
      {{rsvp/attendance-questions guest=guest}}
      {{rsvp/meal-questions guest=guest}}
    </div>
  {{/each}}
  {{rsvp/additional-questions invitation=invitation}}
  <div class="row justify-content-center">
    <button type="submit" class="btn">Submit RSVP</button>
  </div>
</form>
{{/if}}