<nav class="navbar navbar-toggleable-xl navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#link-to 'index' tagName='li' class='nav-item'}}
        {{link-to 'Home' 'index' class='nav-link'}}
      {{/link-to}}
      {{#link-to 'wedding-weekend' tagName='li' class='nav-item'}}
        {{link-to "Wedding Weekend" 'wedding-weekend' class='nav-link'}}
      {{/link-to}}
      {{#link-to 'where-to-stay' tagName='li' class='nav-item'}}
        {{link-to 'Where to Stay' 'where-to-stay' class='nav-link'}}
      {{/link-to}}
      {{#link-to 'where-to-play' tagName='li' class='nav-item'}}
        {{link-to 'Where to Play' 'where-to-play' class='nav-link'}}
      {{/link-to}}
      {{#link-to 'people' tagName='li' class='nav-item'}}
        {{link-to 'People' 'people' class='nav-link'}}
      {{/link-to}}
      {{#link-to 'photos' tagName='li' class='nav-item'}}
        {{link-to 'Photos' 'photos' class='nav-link'}}
      {{/link-to}}
      {{#link-to 'rsvp' tagName='li' class='nav-item'}}
        {{link-to 'RSVP' 'rsvp' class='nav-link'}}
      {{/link-to}}
      {{#link-to 'registry' tagName='li' class='nav-item'}}
        {{link-to 'Registry' 'registry' class='nav-link'}}
      {{/link-to}}
    </ul>
  </div>
</nav>
