{{!--  {{#sticky-container options=stickyOptions}}  --}}
  <div class="container">
    <nav class="navbar navbar-inverse">
      <ul class="navbar-nav">
        {{#link-to 'index' tagName='li' class='nav-item'}}
          {{link-to 'Home' 'index' class='nav-link'}}
        {{/link-to}}
        {{#link-to 'wedding-weekend' tagName='li' class='nav-item'}}
          {{link-to "Wedding Weekend" 'wedding-weekend' class='nav-link'}}
        {{/link-to}}
        {{#link-to 'where-to-stay' tagName='li' class='nav-item'}}
          {{link-to 'Where to Stay' 'where-to-stay' class='nav-link'}}
        {{/link-to}}
        {{#link-to 'where-to-play' tagName='li' class='nav-item'}}
          {{link-to 'Where to Play' 'where-to-play' class='nav-link'}}
        {{/link-to}}
        {{#link-to 'people' tagName='li' class='nav-item'}}
          {{link-to 'People' 'people' class='nav-link'}}
        {{/link-to}}
        {{#link-to 'photos' tagName='li' class='nav-item'}}
          {{link-to 'Photos' 'photos' class='nav-link'}}
        {{/link-to}}
        {{#link-to 'rsvp' tagName='li' class='nav-item'}}
          {{link-to 'RSVP' 'rsvp' class='nav-link'}}
        {{/link-to}}
        {{#link-to 'registry' tagName='li' class='nav-item'}}
          {{link-to 'Registry' 'registry' class='nav-link'}}
        {{/link-to}}
      </ul>
    </nav>
  </div>
{{!--  {{/sticky-container}}  --}}

