<h2>RSVP</h2>
<img class="vermont-divider" src="/static/vermontseparator.svg" alt="divider">

{{#unless peopleMatches}}
  <div id="person-search" class="people-search text-center">
    <p>Please enter your full name in the box:</p>
    <form {{action 'searchPeople' searchValue on="submit"}}>
      {{input type="text" value=searchValue placeholder="Enter your full name"}}
      <button type="submit" disabled={{not searchValue}}>Submit</button>
    </form>
  </div>
{{/unless}}

{{#if (eq peopleMatches 0)}}
  <div class="text-center rsvp__no-guests">
    <p>We couldn't find any guests by that name.</p>
    <p>If I screwed something up (likely!), please send an email to <a href="mailto:rsvp@mikehearn.com">rsvp@mikehearn.com</a>.</p>
  </div>
{{/if}}

{{#if (eq peopleMatches 2)}}
  <div class="text-center rsvp__multiple-matches">
    <p>Which guest are you?</p>
    <form {{action 'selectPerson' exactPerson on="submit"}}>
      {{#each people as |person|}}
        <p>{{radio-button class="person-option" value=person checked=exactPerson}} {{person.fullName}}</p>
      {{/each}}
      <button type="submit" disabled={{not exactPerson}}>Submit</button>
    </form>
  </div>
{{/if}}

{{#if person.fullName}}
  <h3 class="rsvp--person-name text-center">{{person.fullName}}</h3>
{{/if}}

