<h2>RSVP</h2>
<img class="vermont-divider" src="/static/vermontseparator.svg" alt="divider">

{{#unless peopleMatches}}
  <div id="person-search" class="people-search text-center">
    <p>Please enter your full name:</p>
      <form {{action 'searchPeople' searchValue on="submit"}}>
        <div class="form-row align-items-center justify-content-center">
          <div class="col-auto">
            <label class="sr-only">Enter Your Name</label>
            {{input type="text" value=searchValue class="form-control" placeholder="Enter your full name"}}
          </div>
          <div class="col-auto">
            <button type="submit" class="btn" disabled={{not searchValue}}>Submit</button>
          </div>
        </div>
      </form>
  </div>
{{/unless}}

{{! Failure case, if no one is found }}
{{#if (eq peopleMatches 0)}}
  <div class="text-center rsvp__no-guests">
    <p>We couldn't find any guests by that name.</p>
    <p>If I screwed something up (likely!), please send an email to <a href="mailto:rsvp@mikehearn.com">rsvp@mikehearn.com</a>.</p>
  </div>
{{/if}}

{{! Case if name search matches 2 people }}
{{#if (eq peopleMatches 2)}}
  {{rsvp/guest-picker people=people onConfirm=(action "selectPerson")}}
{{/if}}

{{! Case if exact one person is matched}}
{{#if invitation}}
  {{rsvp/full-rsvp-form invitation=invitation personInitiatedRSVP=person}}
{{/if}}

